<%- include aceHeader %>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    <!-- /section:settings.box -->
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="page-header">
                <h1>
                    联系我们
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        以下是我们的联系方式
                    </small>
                </h1>
            </div>

            <div class="text-center">
                <h3>您有问题，可以通过以下方式联系我们</h3>
                <h4>邮箱：Xiaoli_He@pku.edu.cn</h4>
            </div>
        </div><!-- /.page-content -->

<%- include aceFooter %>