
<%- include NewHeader %>

<div class="fh5co-slider" style="height: 1000px">
	<div class="owl-carousel owl-carousel-fullwidth">
		<div class="item" style="background-image:url(/images/background.jpg);height: 1000px" >
			<div class="fh5co-overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="fh5co-owl-text-wrap">
							<div class="fh5co-owl-text text-center to-animate">
								<h1 class="fh5co-lead">多人在线笔记本</h1>
								<h2 class="fh5co-sub-lead">记录生活中的点点滴滴</h2>
								<a href="/login" class="btn btn-outline fh5co-section-sub-lead" style="width: 300px;margin-top: 13px">登录</a>
								<a href="/register" class="btn btn-outline fh5co-section-sub-lead" style="width: 300px;margin-top: 13px">注册</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="item" style="background-image:url(/images/bg1.jpg);height: 1000px">
			<div class="fh5co-overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="fh5co-owl-text-wrap">
							<div class="fh5co-owl-text text-center to-animate">
								<h1 class="fh5co-lead">多人在线笔记本</h1>
								<h2 class="fh5co-sub-lead">随时随地分享所有感动</h2>
								<a href="/login" class="btn btn-outline fh5co-section-sub-lead" style="width: 300px;margin-top: 13px">登录</a>
								<a href="/register" class="btn btn-outline fh5co-section-sub-lead" style="width: 300px;margin-top: 13px">注册</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include footer %>