<%- include header %>
<script>
	function checkName()
	{
		var username = $("#username");
		var errlabel = document.getElementById("usernameTip");
		var usern = /^[a-zA-Z]{1}([a-zA-Z0-9]|[._]){3,20}$/;
		if (!usern.test(username)) {
			errlabel.style.display="block";
			username.value = '';
			username.focus();
			return false;
		}
		else{
			errlabel.style.display="none";
			return true;
		}
	}

	/**
	 * 登录时判断用户是否存在
	 */
	function usernameValidate()
	{
		var username = $("#username");
		//var password = $("#password");
		var usernameTip = document.getElementById("usernameTip");
		$.getJSON("usernameValidate",{username:username.val()}, function(data){
			if(!data.status)
			{
				usernameTip.style.display = "block";
				//alert("用户名或者密码有误");
			}
			else{
				usernameTip.style.display = "none";
				//alert("用户名正确");
			}

		});
	}
</script>

	<div class="contentpanel demo" style="padding-top: 10%; padding-left: 32%;padding-right: 38%;height: 1000px">
			<h1 class="text-center page-title fh5co-lead" style="margin-bottom: 30px">用户登录</h1>
			<div class="container">
				<div class="row">
					<div class ="col-lg-6">
						<form method = "post" id="inforForm">
							<div class="form-group">
								<input type="text"  onblur="usernameValidate();" class="form-control required contentFont" id="用户名" name="username" placeholder="用户名" maxlength="20" minlength="3">

								<em><label class="labelerr" id="usernameTip" hidden >该用户名不存在</label></em>
							</div>
							<div class="form-group">
								<input type="password" class="form-control required contentFont" name="password" placeholder="密码" minlength="6">
								<label class="labelerr" id="usernameTip" style="display: none" >用户名或者密码有误</label>
							</div>
							<button class="btn btn-primary  btn-block contentFont btn-lg" type="submit">登录</button>
						</form>
					</div>
				</div>
			</div>
		</div>


<script>
	(function() {


		var username = $("#username").val().toString.trim();
		alert(username);
		//var usern = /^[a-zA-Z0-9_]{1,}$/;
//		if (!username.match(usern)) {
//			msg += "用户名只能由字母数字下划线组成\n";
//			alert(msg);
//			username.value = '';
//			username.focus();
//			return false;
//		}

		$.validator.setDefaults({
			debug: true
		})

		var validator = $("#inforForm").validate({
			rules: {//验证规则
				username: {
					required:true,
					minlength:3,
					maxlength:20
				}
				email: {
					required: true,
					email: true,
//                            remote: {//远端验证
//                                url: "check-email.php",
//                                type: "post",
//                                data: {
//                                    username: function() {
//                                        return $("#username").val();
//                                    }
//                                }
//                            }
				},
				password: {
					required: true,
					minlength: 5
				},
				confirm_password: {
					required: true,
					minlength: 5,
					equalTo: "#password"
				}
			},
			messages: {//错误消息
				username:{
					required:"请输入姓名",
					minlength: $.validator.format("密码不能小于{0}个字符"),
					maxlength: $.validator.format("密码超过{0}个字符")
				},
				email: {
					required: "请输入Email地址",
					email: "请输入正确的email地址"
				},
				password: {
					required: "请输入密码",
					minlength: $.validator.format("密码不能小于{0}个字符")
				},
				confirm_password: {
					required: "请输入确认密码",
					minlength: "确认密码不能小于5个字符",
					equalTo: "两次输入密码不一致不一致"
				}
			},
//                    errorPlacement: function(error, element) {//显示错误消息的位置
//                        if (element.is(":radio"))
//                            error.appendTo(element.parent().next().next());
//                        else if (element.is(":checkbox"))
//                            error.appendTo(element.next());
//                        else
//                            error.appendTo(element.parent().next());
//                    },
//                    errorClass: "invalid", //错误消息框的类
//                    errorElement: "a", //错误消息框的元素
//                    errorContainer: "div.error", //当验证时显示或隐藏这个容器
//                    errorLabelContainer: "#signupForm div.error",//当验证时显示或隐藏这个容器
//                    wrapper: "li",//包裹住单条错误信息
//                    success: function(label) {//验证成功后的操作
//                        label.addClass("valid").text("Ok!")
//                    },
//                    onsubmit: false, //提交表单时验证
//                    onfocusout: false, //失去焦点是验证
//                    onkeyup: false,//这个好像不能用也许是我jquery版本太高了
			submitHandler: function(form) {//处理程序
				alert("submitted");
				//form.submit();
			}
		});
	})();
	</script>

<%- include footer %>