<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Chain Responsive Bootstrap3 Admin</title>

	<link href="css/style.default.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="signin" style="font-size: 20px;">
<script>
	function checkName()
	{
		var username = $("#username");
		var errlabel = document.getElementById("usernameTip");
		var usern = /^[a-zA-Z]{1}([a-zA-Z0-9]|[._]){3,20}$/;
		if (!usern.test(username)) {
			errlabel.style.display="block";
			username.value = '';
			username.focus();
			return false;
		}
		else{
			errlabel.style.display="none";
			return true;
		}
	}

	/**
	 * 登录时判断用户是否存在
	 */
	function usernameValidate()
	{
		var username = $("#username");
		//var password = $("#password");
		var usernameTip = document.getElementById("usernameTip");
		$.getJSON("usernameValidate",{username:username.val()}, function(data){
			if(!data.status)
			{
				usernameTip.style.display = "block";
				//alert("用户名或者密码有误");
			}
			else{
				usernameTip.style.display = "none";
				//alert("用户名正确");
			}

		});
	}
</script>

<header>
	<div style="background: #3c3c3c;margin-top: 80px">
		<h1 class="fh5co-lead text-center" style="color: #f3faff;">多人在线笔记本</h1>
	</div>

</header>
<section>

	<div class="panel panel-signin" style="margin-top: 80px">
		<div class="panel-body" style="margin-top: 10px;padding-top: 10px;">
			<br />
			<h2 class="text-center" style="margin-top: 0px;">登录页面</h2>
			<p class="text-center">请输入账号密码登录</p>
			<div class="mb30"></div>

			<form method="post">
				<div class="input-group mb15">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" class="form-control" placeholder="用户名" name="username" id="username" onblur="usernameValidate();">
				</div><!-- input-group -->
				<em><label class="labelerr" id="usernameTip" hidden style="color: #ee162d;font-size: 18px">该用户名不存在</label></em>
				<div class="input-group mb15">
					<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
					<input type="password" name="password" class="form-control" placeholder="密码" id="password">
					<label class="labelerr" id="usernameTip" style="display: none" style="color: #ee162d;font-size: 18px">用户名或者密码有误</label>
				</div><!-- input-group -->

				<div class="clearfix">
					<div class="pull-left">
						<div class="ckbox ckbox-primary mt10">
							<input type="checkbox" id="rememberMe" value="1">
							<label for="rememberMe">记住我</label>
						</div>
					</div>
					<div class="pull-right">
						<button class="btn btn-primary  btn-block contentFont btn-lg" type="submit">登录</button>
					</div>
				</div>
			</form>

		</div><!-- panel-body -->
		<div class="panel-footer">
			<a href="/register" class="btn btn-primary btn-block">还没有账号，立即注册？</a>
		</div><!-- panel-footer -->
	</div><!-- panel -->

</section>


<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/pace.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/jquery.cookies.js"></script>

<script src="js/custom.js"></script>

</body>
</html>





