<% include header %>

<div class="contentpanel demo" style="padding-top: 8%; padding-left: 15%;padding-right: 10%;height: 1000px">
	<h1 class="text-center page-title fh5co-lead" style="margin-bottom: 30px">新增笔记</h1>
			<div class="container">
				<div class="row">
					<div class ="col-sx-4 col-sx-offset-4">
						<form method = "post">
							<div class="form-group">
								<input type="text" class="form-control" name="title" placeholder="标题">
							</div>

							<div class="form-group">
								<input type="text" class="form-control" name="tag" placeholder="标签">
							</div>

							<div class="form-group">
								<textarea rows="6" cols="188" class="form-control" name="content" placeholder="内容">
									</textarea>
							</div>
							<div class="row">
								<div class="col-sm-2">
									<button class="btn btn-primary  center-block contentFont btn-lg" type ="button" style="float:left">
										<i class="fa fa-pencil-square-o"></i>
										<a class="link" href="/home"><span>返回</span></a>
									</button>
								</div>
								<div class="col-sm-3">
									<button class="btn btn-success  center-block contentFont btn-lg" type ="submit" style="float:left">
										<i class="fa fa-pencil-square-o"></i>
										<span>提交</span>
									</button>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>

<% include footer %>